.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}
html {
	overflow-x: hidden;
}

img {
	width: 450px;
	padding: 10px;
	transition: all 0.5s ease-in-out;
}
img:hover {
	transform: rotate(-375deg) scale(1.15, 1.15);
	background-color: red;
}

h1 {
	font-family: 'Roboto Slab';
	text-align: center;
	font-size: 3rem;

	padding: 10px;
	background-color: chartreuse;
}

footer {
	font-family: 'Roboto Slab';
	text-align: center;
	font-size: 2.5rem;
	padding: 10px;
	background-color: cyan;
}

body {
	margin: 40px;
}
