.passage {
	text-align: center;
	padding: 100px;
	background-color: rgb(40, 194, 221);
}
.main-heading {
	text-align: center;
	font-size: 3em;
}
body {
	font-family: 'Fauna One';
	margin: 50px;
}
.tech {
	margin: 20px auto;
	padding: 30px;
	background-color: aqua;
}
#html,
#css,
#javascript {
	display: inline-block;
	width: 29.8%;
	padding: 16px;
}
.terzo,
.veneno,
.avantador {
	width: 32%;
	display: inline-block;
}
.terzo,
.avantador {
	margin-right: 20px;
}
#html {
	margin-right: 20px;
	background-color: #f708ff;
}
#css {
	margin-right: 20px;
	background-color: chartreuse;
}
#javascript {
	background-color: deeppink;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}
